<div class="questions-container">
  <h2>Questions</h2>

  <% if logged_in? %>
    <div class="post-question-form hide">
      <ul class="questions-form">
        <form method="post" action="/questions">
          <li><input type="text" name="question[title]" placeholder="title"></li>
          <li><input type="text" name="question[body]" placeholder="body"></li>
          <li><button class="question-post-button" type="submit">post</button>
        </form>
      </ul>
    </div>
  <% end %>

  <% @questions.each do |question| %>
    <% if question.author == current_user %>
      <div class="question-box">
        <ul class="questions-list">
          <li><a class="question-display" href="/questions/<%= question.id %>"><%= question.title %></a></li>
          <li><%= question.pretty_vote_count %></li>
          <li>
            <form method="post", action="/questions/<%= question.id %>">
              <input type="hidden" name="_method" value="delete">
              <button class="delete-button" type="submit">delete</button>
            </form>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="question-box">
        <ul class="questions-list">
          <li><a class="question-display" href="/questions/<%= question.id %>"><%= question.title %></a></li>
          <li><%= question.pretty_vote_count %></li>
        </ul>
      </div>
    <% end %>
  <% end %>

</div>

