<h2>Questions</h2>

<% if logged_in? %>
  <span><button class="question-form-post-button" type="submit">post</button></span>
<% end %>

<% if logged_in? %>
  <div class="post-question-form hide">
    <ul class="questions-form">
      <form method="post" action="/questions">
        <li><input type="text" name="question[title]" placeholder="title"></li>
        <li><input class="body-input" type="text" name="question[body]" placeholder="body"></li>
        <li><button class="question-post-button" type="submit">post</button>
      </form>
    </ul>
  </div>
<% end %>

<div class="questions-container">

  <% @questions.each do |question| %>
    <% if question.author == current_user %>
      <%= erb :'/questions/_show_when_user_owns', locals: {question: question} %>
    <% elsif logged_in? %>
      <%= erb :'/questions/_show_when_user_logged_in',
              locals: {question: question} %>
    <% else %>
      <div class="question-box">
        <ul class="questions-list">
          <li><a class="question-display" href="/questions/<%= question.id %>"><%= question.title %></a></li>
          <li><%= question.pretty_vote_score %></li>
        </ul>
      </div>
    <% end %>
  <% end %>

</div>

